<footer class="site-footer">
  <div>
    <span>
      © 2019 Stanford University.
      <a href="https://www.stanford.edu/site/terms/" title="Terms of Use for Stanford Sites">Terms&nbsp;of&nbsp;Use</a>.
    </span>
  </div>
  <div>
    <span>
      <a href="https://dash.stanford.edu/" title="DASH - Digital Analysis of Syriac Handwriting">
        Digital Analysis of Syriac Handwriting
      </a>
    </span>
  </div>
  <div>
    <span>
      <a href="https://cidr.stanford.edu/" title="Center for Interdisciplinary Digital Research @ Stanford Libraries">
        An SUL-CIDR Project.
      </a>
    </span>
  </div>
</footer>
