<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  <main aria-label="Content">
      {{ content }}
  </main>


  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

      // Get the dropdown elements, to hide the Contact callout when About is hovered
      const $navbarDropdowns = Array.prototype.slice.call(document.querySelectorAll('.has-dropdown'), 0);
      // Assumption: there's at most one callout message on the navbar
      const $navbarCallout = document.querySelector('.has-callout');
      const CALLOUT_TIMEOUT = 4000;

      function removeCallout(navbarCallout) {

        var fadeTarget = document.getElementById('contact-message');

        setTimeout(function() {
          var fadeEffect = setInterval(function () {
            if (!fadeTarget.style.opacity) {
              fadeTarget.style.opacity = .8;
            }
            if (fadeTarget.style.opacity > 0) {
              fadeTarget.style.opacity -= 0.1;
            } else {
              clearInterval(fadeEffect);
              navbarCallout.classList.remove('is-active')
            }
          }, 20);
        }, CALLOUT_TIMEOUT);
      }

      if ($navbarCallout !== null) {

        //setTimeout(function(){ $navbarCallout.classList.remove('is-active'); }, CALLOUT_TIMEOUT);
        
        removeCallout($navbarCallout);
        $contactMessage = document.getElementById('contact-message');

        $navbarDropdowns.forEach(el => {
          el.addEventListener('mouseover', () => {
            if (!el.classList.contains('has-callout')) {
              $navbarCallout.classList.remove('is-active');
            }
            else {
              if (!$navbarCallout.classList.contains('is-active')) {
                $navbarCallout.classList.add('is-active');
                $contactMessage.style.opacity = .8;
              }
              removeCallout($navbarCallout);
            }
          });
          el.addEventListener('mouseleave', () => {
            if (!el.classList.contains('has-callout')) {
              $navbarCallout.classList.add('is-active');
              $contactMessage.style.opacity = .8;
              removeCallout($navbarCallout);
            }
          });
        });
      }
    });
  </script>
</body>

</html>