<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  <main aria-label="Content">
      {{ content }}
  </main>


  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

      // Get all dropdown elements, to hide the Contact callout when About is hovered
      const $navbarDropdowns = Array.prototype.slice.call(document.querySelectorAll('.has-dropdown'), 0);
      // Assumption: there's at most one callout message on the navbar
      const $navbarCallout = document.querySelector('.has-callout');
      const CALLOUT_TIMEOUT = 4000;

      /* Not great, but CSS solutions that involve waiting for a fadeout
       * transition to complete before disabling the dropdown seem
       * even less desirable. */
      function removeCallout(navbarCallout) {
        var fadeTarget = document.getElementById('contact-message');
        setTimeout(function() {
          var fadeEffect = setInterval(function () {
            if (!fadeTarget.style.opacity) {
              fadeTarget.style.opacity = .8;
            }
            if (fadeTarget.style.opacity > 0) {
              fadeTarget.style.opacity -= 0.1;
            } else {
              clearInterval(fadeEffect);
              navbarCallout.classList.remove('is-active')
            }
          }, 20);
        }, CALLOUT_TIMEOUT);
      }

      // Just in case the front page doesn't have a callout, for some reason
      if ($navbarCallout !== null) {
        
        // Start the timer to remove the callout
        removeCallout($navbarCallout);
        $contactMessage = document.getElementById('contact-message');

        $navbarDropdowns.forEach(el => {
          el.addEventListener('mouseover', () => {
            // Disable the callout on mouseover of the About dropdown
            if (!el.classList.contains('has-callout')) {
              $navbarCallout.classList.remove('is-active');
            } else {
              // Re-display the callout on mousover if it has been turned off
              if (!$navbarCallout.classList.contains('is-active')) {
                $navbarCallout.classList.add('is-active');
                $contactMessage.style.opacity = .8;
              }
            }
          });
          el.addEventListener('mouseleave', () => {
            // Re-enable the callout on mouseleave of the About dropdown
            if (!el.classList.contains('has-callout')) {
              $navbarCallout.classList.add('is-active');
              $contactMessage.style.opacity = .8;
            }
            // Begin callout removal timer after any menu mouseleave
            removeCallout($navbarCallout);
          });
        });
      }
    });
  </script>
</body>

</html>