<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  <main aria-label="Content">
      {{ content }}
  </main>


  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

      // Get the dropdown elements, to hide the Contact callout when About is hovered
      const $navbarDropdowns = Array.prototype.slice.call(document.querySelectorAll('.has-dropdown'), 0);
      // Assumption: there's at most one callout message on the navbar
      const $navbarCallout = document.querySelector('.has-callout');

      if ($navbarCallout !== null) {

        $navbarDropdowns.forEach(el => {
          el.addEventListener('mouseover', () => {
            console.log("dropdown hovered");
            if (!el.classList.contains('has-callout')) {
              $navbarCallout.classList.remove('is-active');
            }
          });
          el.addEventListener('mouseleave', () => {
            console.log("dropdown left");
            if (!el.classList.contains('has-callout')) {
              $navbarCallout.classList.add('is-active');
            }
          });
        });
      }

    });
  </script>
</body>

</html>