@font-face {
	font-family: 'EstrangeloEdessa';
	src: local('Estrangelo Edessa');
	src: url('/scriptchart/assets/fonts/syrcomedessa.eot');
	src: url('/scriptchart/assets/fonts/syrcomedessa.eot?#iefix') format('embedded-opentype'), url('/scriptchart/assets/fonts/syrcomedessa.woff') format('woff'), url('/scriptchart/assets/fonts/syrcomedessa.ttf') format('truetype'), url('/scriptchart/assets/fonts/syrcomedessa.svg#syrcomedessa') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SertoJerusalem';
	src: local('Serto Jerusalem');
	src: url('/scriptchart/assets/fonts/syrcomjerusalem.eot');
	src: url('/scriptchart/assets/fonts/syrcomjerusalem.eot?#iefix') format('embedded-opentype'), url('/scriptchart/assets/fonts/syrcomjerusalem.woff') format('woff'), url('/scriptchart/assets/fonts/syrcomjerusalem.ttf') format('truetype'), url('/scriptchart/assets/fonts/syrcomjerusalem.svg#syrcomjerusalem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SertoJerusalem';
	src: local('Serto Jerusalem Bold');
	src: url('/scriptchart/assets/fonts/syrcomjerusalembold.eot');
	src: url('/scriptchart/assets/fonts/syrcomjerusalembold.eot?#iefix') format('embedded-opentype'), url('/scriptchart/assets/fonts/syrcomjerusalembold.woff') format('woff'), url('/scriptchart/assets/fonts/syrcomjerusalembold.ttf') format('truetype'), url('/scriptchart/assets/fonts/syrcomjerusalembold.svg#syrcomjerusalembold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SertoJerusalem';
	src: local('Serto Jerusalem Italic');
	src: url('/scriptchart/assets/fonts/syrcomjerusalemitalic.eot');
	src: url('/scriptchart/assets/fonts/syrcomjerusalemitalic.eot?#iefix') format('embedded-opentype'), url('/scriptchart/assets/fonts/syrcomjerusalemitalic.woff') format('woff'), url('/scriptchart/assets/fonts/syrcomjerusalemitalic.ttf') format('truetype'), url('/scriptchart/assets/fonts/syrcomjerusalemitalic.svg#syrcomjerusalemitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}