.arrow-button:hover {
    color: hsl(217, 71%, 53%);
}

.sidebar-closed {
    display: none;
}

.sidebar-open {
    display: block;
}

.closed-menu {
    padding-bottom: 2.25rem;
    margin-top: .75rem;
}

.closed-menu:hover {
    color: hsl(217, 71%, 53%);
}

.small-padding {
    padding: 10px 10px 10px 10px;
}

.Modal {
    position: absolute;
    top: 30vh;
    left: 30vw;
    right: 30vw;
    background-color: whitesmoke;
    z-index: 100;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(54, 54, 54, 0.6);
    z-index: 32;
}

.bookmarktext {
    border: ridge 1px;
    padding: 5px;
    width: 100%;
    min-height: 5em;
    overflow: auto;
}

.modal_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 5px 5px 5px;
}