---
# Only the main Sass file needs front matter (the dashes are enough)
---

// @import "minima";

body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// Colors

$off-white: darken(white, 10%);

// custom variables used by Bulma; have to be set before importing bulma
$navbar-background-color: #990000;
$navbar-item-color: $off-white;
$navbar-item-hover-color: lighten($off-white, 20%);
$navbar-item-hover-background-color: darken(#990000, 5%);

$danger: $navbar-background-color;

@import "../../node_modules/bulma/bulma.sass";
@import "../_sass/layout.scss";

.navbar-brand .title {
  color: $off-white;
}

.navbar-title {
  margin: initial;
}

.navbar-burger {
  margin-top: 0em;
  height: inherit;
}

.has-bg-img {
  background: rgba(0, 0, 0, 0.6);

  .title {
    color: $navbar-item-color;
  }

  .subtitle {
    color: $navbar-item-color;
  }

  .subtitle:hover {
    color: $navbar-item-hover-color;
  }
}

.has-bg-img:after {
  content: "";
  position: absolute;
  background: url('./img/HMML-background-image_JPG.jpg') no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
}

.hero-head .navbar-menu {
  background: rgba(153, 0, 0, 0.6);
  box-shadow: none;
  padding-top: 0;
  padding-bottom: 0;

  .navbar-item:hover {
    background-color: darken(rgba(153, 0, 0, 0.6), 5%);
  }
}

#start-button {
  background-color: rgba(153, 0, 0, 0.6);
}

#start-button:hover {
  background-color: darken(rgba(153, 0, 0, 0.6), 5%);
}
