.Modal {
    position: absolute;
    top: 20vh;
    left: 20vw;
    right: 20vw;
    bottom: 20vh;
    background-color: whitesmoke;
    z-index: 100;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}