.Modal {
    position: absolute;
    top: 30vh;
    left: 20vw;
    right: 30vw;
    background-color: whitesmoke;
    z-index: 100;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(54, 54, 54, 0.6);
    z-index: 32;
}

.bookmarktext {
    border: ridge 1px;
    padding: 5px;
    width: 100%;
    min-height: 5em;
    overflow: auto;
}